!*/target/
*/target/*
!ubonass-client/target/ubonass-client.jar

/target
.classpath
.project
.settings
*orig
.springBeans
*tmp/
*backup
*Backup
log.xml
nbactions.xml
*bower_components/
.externalToolBuilders
*bin/
*/.vscode/*
*/.sts4-cache/*
*/.project
*/.classpath
*/.settings/*
*/.tscache/*
